{% extends 'apps/base.html' %}
{% load static %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between">
                <div class="col-md-auto">
                    <h5 class="mb-3 mb-md-0">Shopping Cart ({{ cart.count }} Items)</h5>
                </div>
                <div class="col-md-auto"><a class="btn btn-sm btn-outline-secondary border-300 me-2"
                                            href="{% url 'product_list_page' %}"> <span class="fas fa-chevron-left me-1"
                                                                                        data-fa-transform="shrink-4"></span>Continue
                    Shopping</a><a class="btn btn-sm btn-primary" href="{% url 'checkout_page' %}">Checkout</a>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="row gx-card mx-0 bg-200 text-900 fs--1 fw-semi-bold">
                <div class="col-9 col-md-8 py-2">Name</div>
                <div class="col-3 col-md-4">
                    <div class="row">
                        <div class="col-md-8 py-2 d-none d-md-block text-center">Quantity</div>
                        <div class="col-12 col-md-4 text-end py-2">Price</div>
                    </div>
                </div>
            </div>
            {% for item in carts %}
                <div class="row gx-card mx-0 align-items-center border-bottom border-200">
                    <div class="col-8 py-3">

                        <div class="d-flex align-items-center"><a
                                href="{% url 'product_detail_page' item.pk %}"><img
                                class="img-fluid rounded-1 me-3 d-none d-md-block"
                                src="{{ item.product.images.first.image.url }}"
                                alt="" width="60"/></a>
                            <div class="flex-1">
                                <h5 class="fs-0">
                                    <a class="text-900"
                                       href="{% url 'product_detail_page' item.product.id %}">{{ item.product.title }}
                                    </a>
                                </h5>
                                <div class="fs--2 fs-md--1"><a class="text-danger"
                                                               href="{% url 'remove_item' item.product.pk %}">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4 py-3">
                        <div class="row align-items-center">
                            <div class="col-md-8 d-flex justify-content-end justify-content-md-center order-1 order-md-0">
                                <form method="post" action="{% url 'shopping_cart_page' %}">
                                    {% csrf_token %}
                                    <div>
                                        <div class="input-group input-group-sm flex-nowrap"
                                             data-quantity="data-quantity">
                                            <input type="hidden" name="cart_item_id" value="{{ item.product.pk }}"/>
                                            <input type="hidden" name="quantity" value="{{ item.quantity }}"/>
                                            <button name="action" value="minus" type="submit"
                                                    class="btn btn-sm btn-outline-secondary border-300 px-2"
                                                    data-type="minus">-
                                            </button>
                                            <input class="form-control text-center px-2 input-spin-none" type="number"
                                                   name="quantity" min="1" value="{{ item.quantity }}"
                                                   aria-label="Amount (to the nearest dollar)" style="width: 50px"/>
                                            <button name="action" value="plus" type="submit"
                                                    class="btn btn-sm btn-outline-secondary border-300 px-2"
                                                    data-type="plus">+
                                            </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="col-md-4 text-end ps-0 order-0 order-md-1 mb-2 mb-md-0 text-600">
                                ${{ item.get_total_price }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}


            <div class="row fw-bold gx-card mx-0">
                <div class="col-9 col-md-8 py-2 text-end text-900">Total</div>
                <div class="col px-0">
                    <div class="row gx-card mx-0">
                        <div class="col-md-8 py-2 d-none d-md-block text-center">{{ user.get_total_products }}(items)</div>
                        <div class="col-12 col-md-4 text-end py-2">{{ total_sum }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer bg-light d-flex justify-content-end">
            <form class="me-3">
                <div class="input-group input-group-sm">
                    <input class="form-control" type="text" placeholder="Promocode"/>
                    <button class="btn btn-outline-secondary border-300 btn-sm" type="submit">Apply</button>
                </div>
            </form>
            <a class="btn btn-sm btn-primary" href="{% url 'checkout_page' %}">Checkout</a>
        </div>
    </div>
{% endblock %}